<button mat-button color="primary" (click)="onClick($event)">
    <mat-icon>attachment</mat-icon>
    {{chooseLabel}}
</button>
<input #fileUpload type="file" class="input_fileupload--hidden" (input)="onInput($event)"
    (change)="onFileSelected($event)" [(ngModel)]="inputFileName" [accept]="accept">

<div>
    <div *ngFor="let f of files" style="display:inline-flex">
        <div style="padding-right: 20px;">
            <span>{{f.name}}</span>
            <button mat-icon-button color="primary" [attr.title]="deleteButtonLabel?deleteButtonLabel:null"
                (click)="removeFile($event,f)">
                <mat-icon>{{deleteButtonIcon}}</mat-icon>
            </button>
        </div>


    </div>

</div>